{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <h1>Home</h1>
    <h3>{{role}}</h3>
    <a href="{% url 'login' %}">login</a><br><br>
    <a href="{% url 'logout' %}">logout</a><br><br>
    <a href="{% url 'create_class' %}">class create</a> <br><br>
    
    <a href="{% url 'register' %}">Register</a> <br><br>
    <br><br>
    <hr>

    {% for i in cohort %}
    <h3><a href="{% url 'cohort_details' i.id %}">{{i.classname}}</a></h3>
    <a href="{% url 'update_class' i.id %}">edit</a><br>
    <a href="{% url 'delete_cohort' i.id %}">delete</a>
    <hr >
    {% endfor %}
</body>
</html>

   

