{% extends 'base.html' %}
{% load static %}
{% block content %}




<section class="main_content dashboard_part large_header_bg">

    {% include 'includes/topbar.html' %}

<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">

<div class="row">
<div class="col-12">
<div class="page_title_box d-flex align-items-center justify-content-between">
<div class="page_title_left">
<h3 class="f_s_30 f_w_700 text_white">Dashboard</h3>
<ol class="breadcrumb page_bradcam mb-0">
<li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
<li class="breadcrumb-item active">Details</li>
</ol>
</div>

</div>
</div>
</div>
<div class="row ">



<!-- Cohort Card -->
<div class="col-lg-4">
<div class="white_card card_height_100  mb_20">
<div class="white_card_header">
<div class="box_header m-0">
<div class="main-title">
    {% if user.role == 'teacher' or user.role == 'admin' %}  
<h3 class="m-0">Cohorts</h3>
{% else %}
{% if cohort %}
<h3 class="m-0">{{cohort.classname}}</h3>
{% else %}
<div class="white_card_body">
    <div class="table-responsive">
    <h6>No Cohort Assigned yet</h6>
    </div></div>
{% endif %}

{% endif %}

</div>

</div>
</div>
{% if user.is_authenticated %}
<div class="white_card_body">
<div class="table-responsive">
    {% if cohort_count %}  
    {% if user.role == 'teacher'  or user.role == 'admin' %}   
<table class="table bayer_table m-0">
    
<tbody>
    {% for i in cohort %}
<tr>
<td>
<img class="byder_thumb wh_56" src="{% static 'img/Payment/1.png' %}" alt="">
</td>
<td>
<div class="payment_gatway">
    <a href="{% url 'cohort_details' i.id %}    ">
<h5 class="byer_name  f_s_16 f_w_700 color_theme">{{i.classname}}</h5></a>

<div class="">

    <a style="padding-inline: 3px;" href="{% url 'update_class' i.id %}"><i class="fas fa-edit"></i></a>
    <a href="{% url 'delete_cohort' i.id %}"><i class="ti-trash"></i></a>
</div>

</div>
</td>

</tr>
{% endfor %}
</tbody>
</table>


    <div class="load_more_button text-center mt_10">
        <a class="theme_text_btn d-flex align-items-center justify-content-center" href="{% url 'cohorts_list' %}">Load more <i class="ti-angle-down f_s_12 ms-2"></i> </a>
        </div>

{% else %}
<table class="table bayer_table m-0">
<tbody>
    {% for lesson_info in lessons_info %}
<tr>
    <td>
    <img class="byder_thumb wh_56" src="{% static 'img/Payment/1.png' %}" alt="">
    </td>
    <td >
       
        <div class="payment_gatway">
        <a href=" {% url 'lesson_details' lesson_info.lesson_name.id %}  ">
    <h5 class="byer_name  f_s_16 f_w_700 color_theme">{{lesson_info.lesson_name}}</h5>
<p>({{lesson_info.completed_tasks}} of {{lesson_info.total_tasks}} )</p></a>
    
    </div>
    
    </td>
    
    </tr>
    {% endfor %}
</tbody>
</table>

{% endif%}
{% endif%}
</div>
</div>



{% else %}

<div class="white_card_body">
    <div class="table-responsive">
    <h6>Login is Required</h6>
    </div></div>
{% endif%}
</div>
</div>

<!-- Task Card -->
{% if user.role == 'student' %}
<div class="col-lg-4">
<div class="white_card card_height_100  mb_20">
<div class="white_card_header">
<div class="box_header m-0">
<div class="main-title">
<h3 class="m-0">Assigned Tasks</h3>
</div>

</div>
</div>
<div class="white_card_body">
    {% for task in all_tasks %}
    
<div class="single_update_news">
<h5 class="byer_name  f_s_16 f_w_600 color_theme2">{{ task.task.task_name }}</h5>
<p class="color_gray f_s_12 f_w_700 ">{{task.score}}</p>
</div>
{% endfor %}

<div class="load_more_button text-center mt_10">
<a class="theme_text_btn d-flex align-items-center justify-content-center" href="{% url 'task_list'  %}">Load more <i class="ti-angle-down f_s_12 ms-2"></i> </a>
</div>
</div>
</div>
</div>
{% endif %}


</div>
</div>
</div>


</section>





{% endblock %}