{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="main_content dashboard_part large_header_bg">

        {% include 'includes/topbar.html' %}

        <div class="main_content_iner ">
            <div class="container-fluid p-0">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="dashboard_header mb_50">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="dashboard_header_title">
                                        <h3>Task Create</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="dashboard_breadcam text-end">
                                        <p><a href="{% url 'home' %}">Dashboard</a> <i class="fas fa-caret-right"></i> Task Create
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="white_box mb_30">
                            <div class="row justify-content-center">
                                <div class="col-lg-11">

                                    <div class="modal-content cs_modal">
                                        <div class="modal-header justify-content-center theme_bg_1">
                                            <h5 class="modal-title text_white">Matching audios to images</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p style="text-align: start;">In task_name Field add task Desicription
                                                <br>While filling in answer field type numbers seprated by commas like 3,2,1,4 which will mean audio1 should match 3rd opt_image, 
                                                audio2 should match 2, audio3 should be 1 opt_image and 4th should match fourth.
                                            </p><br>
                                            <form method="post" action="" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{ form.task_name.label_tag }}
                                                        {{ form.task_name }}
                                                    </div>
                                                    
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{ form.audio1.label_tag }}
                                                        {{ form.audio1 }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.audio2.label_tag }}
                                                        {{ form.audio2 }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.audio3.label_tag }}
                                                        {{ form.audio3 }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.audio4.label_tag }}
                                                        {{ form.audio4 }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.opt_image1.label_tag }}
                                                        {{ form.opt_image1 }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.opt_image2.label_tag }}
                                                        {{ form.opt_image2 }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.opt_image3.label_tag }}
                                                        {{ form.opt_image3 }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.opt_image4.label_tag }}
                                                        {{ form.opt_image4 }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{ form.answer.label_tag }}
                                                        {{ form.answer }}
                                                    </div>
                                                    
                                                </div>
                                                
                                                <!-- {{ form.as_p }} -->

                                                
                                                
                                              
                                                <button type="submit" href="#" class="btn_1 full_width text-center">Submit</button>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}