{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="main_content dashboard_part large_header_bg">

       {% include 'includes/topbar.html' %}

        <div class="main_content_iner ">
            <div class="container-fluid p-0">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="dashboard_header mb_50">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="dashboard_header_title">
                                        <h3>Match Audio Question</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="dashboard_breadcam text-end">
                                        <p><a href="{% url 'home' %}">Dashboard</a> <i class="fas fa-caret-right"></i> Task Attempt
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="white_box mb_30">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">

                                    <div class="modal-content cs_modal">
                                        <div class="modal-header justify-content-center theme_bg_1">
                                            <h5 class="modal-title text_white">{{task.task_name}}</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p class="textleft"> <h6> Instructions:</h6>You should Write number like 1 3 in correct answer box and submit</p>
                                            
                                            <p class="textleft"><h6>Question:</h6>Students eliminate images based on the sounds they hear.</p>
                                          
                                            <div class="row">
                                            <div class="col-6 col-md-6 col-sm-12">

                                                <p class="textleft mb-2">Audio 1</p>
                                                <audio controls>
                                                    <source src="{{ task.audio1.url }}" type="audio/ogg">
                                                    <!-- <source src="horse.mp3" type="audio/mpeg"> -->
                                                    Your browser does not support the audio element.
                                                </audio>
                                                <div id="drop1" style="width: 300px; height: 70px;border: 1px solid #aaaaaa; border-radius: 1em;" ondrop="drop(event)" ondragover="allowDrop(event)">
        
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-6 col-sm-12">

                                                <p class="textleft mb-2">Audio 2</p>
                                                <audio controls>
                                                    <source src="{{ task.audio2.url }}" type="audio/ogg">
                                                    <!-- <source src="horse.mp3" type="audio/mpeg"> -->
                                                    Your browser does not support the audio element.
                                                </audio>
                                                <div id="drop2" style="width: 300px; height: 70px;border: 1px solid #aaaaaa; border-radius: 1em;" ondrop="drop(event)" ondragover="allowDrop(event)">
        
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-6 col-sm-12">

                                                <p class="textleft mb-2">Audio 3</p>
                                                <audio controls>
                                                    <source src="{{ task.audio3.url }}" type="audio/ogg">
                                                    <!-- <source src="horse.mp3" type="audio/mpeg"> -->
                                                    Your browser does not support the audio element.
                                                </audio>
                                                <div id="drop3" style="width: 300px; height: 70px;border: 1px solid #aaaaaa; border-radius: 1em;" ondrop="drop(event)" ondragover="allowDrop(event)">
        
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-6 col-sm-12">

                                                <p class="textleft mb-2">Audio 4</p>
                                                <audio controls>
                                                    <source src="{{ task.audio4.url }}" type="audio/ogg">
                                                    <!-- <source src="horse.mp3" type="audio/mpeg"> -->
                                                    Your browser does not support the audio element.
                                                </audio>
                                                <div id="drop4" style="width: 300px; height: 70px;border: 1px solid #aaaaaa; border-radius: 1em;" ondrop="drop(event)" ondragover="allowDrop(event)">
        
                                                </div>
                                            </div>
                                           
                                            </div>
                                            <!-- +++++++++++ -->
                                            <h5 class="mt-3">Option Audios</h5>
                                            <div class="row">
                                                <div class="col-6 col-md-6 col-sm-12">
    
                                                    <!-- <p class="textleft mb-2">Option audio 1</p> -->
                                                    <audio id="audio1" controls draggable="true" ondragstart="drag(event)">
                                                        <source src="{{ task.opt_audio1.url }}" type="audio/ogg">
                                                        <!-- <source src="horse.mp3" type="audio/mpeg"> -->
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                </div>
                                                <div class="col-6 col-md-6 col-sm-12">
    
                                                    <!-- <p class="textleft mb-2">Option audio 2</p> -->
                                                    <audio id="audio2" controls draggable="true" ondragstart="drag(event)">
                                                        <source src="{{ task.opt_audio2.url }}" type="audio/ogg">
                                                        <!-- <source src="horse.mp3" type="audio/mpeg"> -->
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                </div>
                                                <div class="col-6 col-md-6 col-sm-12">
    
                                                    <!-- <p class="textleft mb-2">Option audio 3</p> -->
                                                    <audio id="audio3" controls draggable="true" ondragstart="drag(event)">
                                                        <source src="{{ task.opt_audio3.url }}" type="audio/ogg">
                                                        <!-- <source src="horse.mp3" type="audio/mpeg"> -->
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                </div>
                                                <div class="col-6 col-md-6 col-sm-12">
    
                                                    <!-- <p class="textleft mb-2">Option audio 4</p> -->
                                                    <audio id="audio4" controls draggable="true" ondragstart="drag(event)">
                                                        <source src="{{ task.opt_audio1.url }}" type="audio/ogg">
                                                        <!-- <source src="horse.mp3" type="audio/mpeg"> -->
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                </div>
                                               
                                                </div>
                                              
                                              <br><br>
                                            <form method="post" action="" id="myForm">
                                                {% csrf_token %}
                                                <label for="answer"><b>Answer</b></label>
                                                <div class="row">
                                                    

                                                    
                                                <div class="mt-2 col-6 col-md-6 col-sm-12">
                                                    <input  hidden id="answer1" type="text" name="answer1" class="form-control answer"
                                                        placeholder="Audio1 should match Option audio...">
                                                </div>
                                                <div class="mt-2 col-6 col-md-6 col-sm-12">
                                                    <input  hidden id="answer2" type="text" name="answer2" class="form-control answer"
                                                        placeholder="Audio2 should match Option audio...">
                                                </div>
                                                <div class="mt-2 col-6 col-md-6 col-sm-12">
                                                    <input  hidden id="answer3" type="text" name="answer3" class="form-control answer"
                                                        placeholder="Audio3 should match Option audio...">
                                                </div>
                                                <div class="mt-2 col-6 col-md-6 col-sm-12">
                                                    <input  hidden id="answer4" type="text" name="answer4" class="form-control answer"
                                                        placeholder="Audio4 should match Option audio...">
                                                </div>
                                                    
                                                </div>
                                                    
                                                
                                                
                                              
                                                <button hidden type="submit" href="#" class="btn_1 full_width text-center">Submit</button>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function allowDrop(ev) {
              ev.preventDefault();
            }
            
            function drag(ev) {
              ev.dataTransfer.setData("text", ev.target.id);
              console.log(ev)
              
            }
            
            function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            var draggedElement = document.getElementById(data);

            // Check if the dragged element is already in a drop zone
            var oldDropzoneId = draggedElement.parentNode.id;
            if (oldDropzoneId.startsWith("drop")) {
                // Clear the value of the corresponding answer input in the old drop zone
                var oldHiddenInput = document.getElementById("answer" + oldDropzoneId.charAt(oldDropzoneId.length - 1));
                oldHiddenInput.value = "";
            }

            // Append the dragged element to the new drop zone
            ev.target.appendChild(draggedElement);

            // Get the new drop zone where the audio was dropped
            var newDropzone = ev.target;

            // Store the association between new drop zone and audioElement
            var hiddenInput = document.getElementById("answer" + newDropzone.id.charAt(newDropzone.id.length - 1));
            hiddenInput.value = draggedElement.id.charAt(draggedElement.id.length - 1);
            hiddenInput.dispatchEvent(new Event('input'));
        }

            </script>
            <script>
                function setupInputListeners() {
                    // Get all input elements with class 'answer'
                    var inputs = document.querySelectorAll('.answer');

                    // Print a message to the console
                    console.log('Found ' + inputs.length + ' input elements with class "answer"');

                    // Attach 'input' event listener to each input
                    inputs.forEach(function (input) {
                        input.addEventListener('input', inputChangeListener);
                    });
                }
                function inputChangeListener() {
                    // Print a message to the console when an input changes
                    console.log('Input changed:', this.value);

                    // Check if all inputs have values
                    var allFilled = Array.from(document.querySelectorAll('.answer')).every(function (input) {
                        return input.value.trim() !== '';
                    });

                    // If all inputs are filled, submit the form
                    if (allFilled) {
                        submitForm();
                    }
                }
                function submitForm() {
                    console.log('Submitting the form');
                    document.getElementById('myForm').submit();  // Submit the form
                }
                setupInputListeners();
            </script>
        {% endblock %}