{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="main_content dashboard_part large_header_bg">

       {% include 'includes/topbar.html' %}

        <div class="main_content_iner ">
            <div class="container-fluid p-0">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="dashboard_header mb_50">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="dashboard_header_title">
                                        <h3>Spelling Question</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="dashboard_breadcam text-end">
                                        <p><a href="{% url 'home' %}">Dashboard</a> <i class="fas fa-caret-right"></i> Task Attempt
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Added by Hamza -->
                    <!-- Added by Hamza -->

                    <div class="col-lg-12">
                        <div class="white_box mb_30">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">

                                    <div class="modal-content cs_modal">
                                        <div class="modal-header justify-content-center theme_bg_1">
                                            <h5 class="modal-title text_white">{{task.task_name}}</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p style="text-align: left;"> <h6> Instructions:</h6> Students answer questions related to spelling.</p>
                                            
                                            <p style="text-align: left;"><h6>Question:</h6>Listen audio and write the word accordingly</p>
                                           
                                            <div class="imgsize">
                                                <img src="{{ task.image.url }}" alt="image1 of question type 5">
                                            </div>
                                              
                                              <br><br>
                                            <form method="post" action="">
                                                {% csrf_token %}
                                                <label for="answer"><b>Answer</b></label>
                                                <div class="spelling-flex">

                                                    {% with ''|center:task_length as range_str %}
                                                    {% for i in range_str %}      
                                                    
                                                    <div class="mt-2 spelling-input spelling">
                                                        <input id="answer{{ forloop.counter }}" type="text" name="answer{{ forloop.counter }}" class="form-control answer"
                                                        maxlength="1">
                                                    </div>
                                                    {% endfor %}
                                                    {% endwith %}
                                                </div>
                                                
                                                <style>
                                                    #keyboard {
                                                        display: grid;
                                                        grid-template-columns: repeat(10, 1fr);
                                                        gap: 5px;
                                                        margin-top: 20px;
                                                    }
                                            
                                                    .key {
                                                        width: 40px;
                                                        height: 40px;
                                                        text-align: center;
                                                        line-height: 40px;
                                                        border: 1px solid #ccc;
                                                        cursor: pointer;
                                                    }
                                            
                                                    #output {
                                                        margin-top: 20px;
                                                    }
                                                </style>

                                                <div id="keyboard">
                                                    <div class="key" onclick="appendToAnswer('q')">q</div>
                                                    <div></div>
                                                    <div class="key" onclick="appendToAnswer('e')">e</div>
                                                    <div class="key" onclick="appendToAnswer('r')">r</div>
                                                    <div class="key" onclick="appendToAnswer('t')">t</div>
                                                    <div></div>
                                                    <div class="key" onclick="appendToAnswer('u')">u</div>
                                                    <div class="key" onclick="appendToAnswer('i')">i</div>
                                                    <div class="key" onclick="appendToAnswer('o')">o</div>
                                                    <div class="key" onclick="appendToAnswer('p')">p</div>
                                                    
                                                    <!--  -->
                                                    <div class="key" onclick="appendToAnswer('a')">a</div>
                                                    <div class="key" onclick="appendToAnswer('s')">s</div>
                                                    <div class="key" onclick="appendToAnswer('d')">d</div>
                                                    <div class="key" onclick="appendToAnswer('f')">f</div>
                                                    <div class="key" onclick="appendToAnswer('g')">g</div>
                                                    <div class="key" onclick="appendToAnswer('h')">h</div>
                                                    <div></div>
                                                    <div></div>
                                                    <div class="key" onclick="appendToAnswer('l')">l</div>
                                                    <div></div>
                                                    
                                                    <!--  -->
                                                    <div></div>
                                                    <div></div>
                                                    <div class="key" onclick="appendToAnswer('c')">c</div>
                                                    <div></div>
                                                    <div class="key" onclick="appendToAnswer('b')">b</div>
                                                    <div class="key" onclick="appendToAnswer('n')">n</div>
                                                    <div class="key" onclick="appendToAnswer('m')">m</div>
                                                    
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    
                                                    <!--  -->
                                                    <div class="key" onclick="appendToAnswer('á')">á</div>
                                                    <div></div>
                                                    <div class="key" onclick="appendToAnswer('é')">é</div>
                                                    <div></div>
                                                    <div class="key" onclick="appendToAnswer('í')">í</div>
                                                    <div></div>
                                                    <div class="key" onclick="appendToAnswer('ó')">ó</div>
                                                    <div></div>
                                                    <div class="key" onclick="appendToAnswer('ú')">ú</div>
                                                    <div class="key" onclick="clearAnswer()">clear</div>
                                                    <!-- Add more keys as needed -->
                                                </div>

                                                <button type="submit" href="#" class="btn_1 full_width text-center">Submit</button>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            var task_length = {{ task_length }};
            function appendToAnswer(character) {
                
            for (var i = 1; i <= task_length; i++) {
                var answerInput = document.getElementById('answer' + i);
                
                // Check if the answer input has no value
                if (!answerInput.value) {
                    answerInput.value = character;
                    break;  // Stop the loop after setting the value
                }
            }
        }
    
            function clearAnswer() {
                for (var i = 1; i <= task_length; i++) {
                var answerInput = document.getElementById('answer' + i);
     
                    answerInput.value = '';
                
            }
            }
        </script>
        {% endblock %}